<form action="" method="post" enctype="multipart/form-data">
			<li>请选择起始时间
			<input type="text" name="startTime" 
				ng-model="limit.startTime" class="dfselect dateLayoutStyle" placeHolder="起始时间"
				onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "
				required>—
			<input type="text" name="endTime" 
				ng-model="limit.endTime" class="dfselect dateLayoutStyle" placeHolder="截止时间"
				onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "
				required>
				<input style="width: 60px" type="button" value="查询" ng-click="findDrawData()"></li>
</form>
<div id="piechart" Style="width:1200px;height:700px; margin:25px auto"></div>
<div id="linechart"></div>
<div id="drawAnalyse" style="color:red;font-size:20px;font-weight:1px;margin-top:15px"></div>
