<form action="" method="post" enctype="multipart/form-data">
			<li>请选择起始时间
			<input type="text" name="startTime" 
				ng-model="limit.startTime" class="dfselect dateLayoutStyle" placeHolder="起始时间"
				onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "
				required>—
			<input type="text" name="endTime" 
				ng-model="limit.endTime" class="dfselect dateLayoutStyle" placeHolder="截止时间"
				onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "
				required>
				<input style="width: 60px" type="button" value="查询" ng-click="selectErrorListpage()"></li>
</form>
<div class="row">
    <div class="col-xs-12">
		<div class="card">
            <div class="card-header">

                <div class="card-title">
                <div class="title">报警内容</div>
                </div>                          
            
            <div class="card-body">
                <table class="datatable table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th	>序号</th>
                            <th>报警内容</th>
                            <th>报警时间</th>
                            <th>报警平台</th>
                            <th>报警方式</th>
                            <th>状态</th>
                            <th>查看</th>
                        </tr>
                    </thead>
                    
                    <tbody ng-repeat="el in errorList">
                        <tr>
                            <td>{{$index + 1}}</td>       
                            <td>{{el.detector_TriggerLog_Memo}}</td> 
                            <td>{{el.detector_TriggerLog_Time|dateType}}</td> 
                            <td>{{el.detector_Trigger_AlarmUser}}</td><!-- 警报平台登录名/手机号码/邮箱等 -->
                            <td>{{el.detector_Trigger_AlarmMode|alertType}}</td><!-- 触发器警报方式（1微信提醒，2短信提醒，3邮件提醒，4提交工单，5平台告警，6预警） -->
                            <td>{{el.detector_TriggerLog_State|alertState}}</td><!-- 0=报警中，1=已解除 -->
                            <td><a Style="color:blue" href="selectErrorDetile(el.detector_Sensor_Id)">查看</a></td>
                        </tr>

                    </tbody>
                </table><div class="tcdPageCode">页码容器</div>
           </div></div>
        </div>
        
    </div>
</div>