!Templates.html5.content!
<div class="row">
	<div class="col-xs-12">
		<div class="card">

			<div class="card-body no-padding">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li ng-click="selectEquipList(0)" role="presentation" class="active"><a href=""
							aria-controls="home" role="tab" data-toggle="tab">供配电系统</a></li>
						<li ng-click="selectEquipList(1)" role="presentation"><a ng-click="" href=""
							aria-controls="profile" role="tab" data-toggle="tab">给排水系统</a></li>
						<li ng-click="selectEquipList(2)" role="presentation"><a ng-click="" href=""
							aria-controls="messages" role="tab" data-toggle="tab">中央空调系统</a></li>
						<li ng-click="selectEquipList(3)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">电梯系统</a></li>
						<li ng-click="selectEquipList(4)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">消防系统</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="col-sm-6">
							<div class="sub-title">
								设备列表<span class="description"></span>
							</div>
							<table id="infoList" class="datatable table table-striped">
								<thead>
									<tr>
										<th>序号</th>
										<th>设备名称</th>
										<th>上次维护时间</th>
										<th>上次故障日期</th>
										<th>维护内容</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-click="change(1)" ng-repeat="e in list">
										<th scope="row">{{e.Detector_Equipment_No}}</th>
										<td>{{e.Detector_Equipment_Name}}</td>
										<td>{{e.Detector_Equipment_RepairsDate}}</td>
										<td>{{e.Detector_Equipment_TroublesDate}}</td>
										<td>{{e.Detector_Equipment_Memo}}</td>
										<td>
										   <a href="#/test" ng-click="pre(pre.Detector_Equipment_Id)" class="tablelink"
										      has-permission='tPre'>分析</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>