<div class="row">
	<div class="col-xs-12">
		<div class="card">

			<div class="card-body no-padding">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li ng-click="selectEquipList(1)" role="presentation" class="active"><a href=""
							aria-controls="home" role="tab" data-toggle="tab">供配电系统</a></li>
						<li ng-click="selectEquipList(2)" role="presentation"><a ng-click="" href=""
							aria-controls="profile" role="tab" data-toggle="tab">给排水系统</a></li>
						<li ng-click="selectEquipList(3)" role="presentation"><a ng-click="" href=""
							aria-controls="messages" role="tab" data-toggle="tab">中央空调系统</a></li>
						<li ng-click="selectEquipList(4)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">电梯系统</a></li>
						<li ng-click="selectEquipList(5)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">消防系统</a></li>
					</ul>
					<!-- Tab panes -->
				</div>
				

                  
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
 							<div class="card-header">
								<div class="card-title">
									<div class="title">设备实时运行状态信息</div>
								</div>
							</div>
							<div id="getDraw">
								<div class="col-sm-3" style="margin-top:10px;width: 250px;" ng-repeat="ol in operaList">
		                              <div class="pricing-table green">
		                                  <div class="pt-header">
		                                      <div class="plan-pricing">
		                                      <div id={{$index}} style="width: 550px; height: 400px; margin: 0 auto"></div>
		                                      </div>
		                                  </div>
		                                  <div class="pt-body">
		                                      <h5>{{ol.Detector_EquipmentRoom_Name}}{{ol.Detector_Equipment_Name}}{{ol.Detector_Sensor_Name}}</h5>
		                                  </div>
		                              </div>
		                          </div>
							</div>
						</div>
					</div>
				</div> 
				
				
			</div>
		</div>
	</div>
</div>
<div id="zq"></div>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<h2 id="nolist" style="display:none">对不起，暂无数据！</h2>