<div class="row">
	<div class="col-xs-12">
		<div class="card">

			<div class="card-body no-padding">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li ng-click="selectEquipList(1)" role="presentation" class="active"><a href=""
							aria-controls="home" role="tab" data-toggle="tab">供配电系统</a></li>
						<li ng-click="selectEquipList(2)" role="presentation"><a ng-click="" href=""
							aria-controls="profile" role="tab" data-toggle="tab">给排水系统</a></li>
						<li ng-click="selectEquipList(3)" role="presentation"><a ng-click="" href=""
							aria-controls="messages" role="tab" data-toggle="tab">中央空调系统</a></li>
						<li ng-click="selectEquipList(4)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">电梯系统</a></li>
						<li ng-click="selectEquipList(5)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">消防系统</a></li>
					</ul>
					<!-- Tab panes -->
				</div>
				

                  
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
 							<div class="card-header">
								<div class="card-title">
									<div class="title">设备实时运行状态信息</div>
								</div>
							</div>
							<h3 id="nolist" style="display:none">&nbsp;&nbsp;&nbsp;对不起，暂无数据！</h3>
							<div id="getDraw">
								<div class="col-sm-3" style="margin-top:10px;width: 250px;heigh:150px" ng-repeat="ol in operaList">
		                              <div class="pricing-table green">
		                                  <div class="pt-header">
		                                      <div class="plan-pricing">
		                                      <div id={{$index}}></div>
		                                      </div>
		                                  </div>
		                                  <div class="pt-body">
		                                      <h5>{{ol.Detector_EquipmentRoom_Name}}{{ol.Detector_Equipment_Name}}{{ol.Detector_Sensor_Name}}</h5>
		                                  </div>
		                              </div>
		                          </div>
							</div>
							
							<div id="getSwitch">
								<table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>名称</th>
                                                <th>状态</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="olo in operaListOth">
                                                <th scope="row">{{$index+1}}</th>
                                                <td style="font-size:15px">{{olo.Detector_EquipmentRoom_Name}}{{olo.Detector_Equipment_Name}}{{olo.Detector_Sensor_Name}}</td>
                                                <td ng-class="{true:'activeSwitch',false:'inactiveSwitch'}[{{olo.Detector_SensorData_Switch}}]"></td>
                                            </tr>
                                        </tbody>
                                 </table>
                             </div>
						</div>
						
					</div>
				</div> 
				
				
			</div>
		</div>
	</div>
</div>
