<div class="row">
	<div class="col-xs-12">
		<div class="card">

			<div class="card-body no-padding">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li ng-click="selectEquipList(1)" role="presentation" class="active"><a href=""
							aria-controls="home" role="tab" data-toggle="tab">供配电系统</a></li>
						<li ng-click="selectEquipList(2)" role="presentation"><a ng-click="" href=""
							aria-controls="profile" role="tab" data-toggle="tab">给排水系统</a></li>
						<li ng-click="selectEquipList(3)" role="presentation"><a ng-click="" href=""
							aria-controls="messages" role="tab" data-toggle="tab">中央空调系统</a></li>
						<li ng-click="selectEquipList(4)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">电梯系统</a></li>
						<li ng-click="selectEquipList(5)" role="presentation"><a ng-click="" href=""
							aria-controls="settings" role="tab" data-toggle="tab">消防系统</a></li>
					</ul>
					<!-- Tab panes -->
				</div>
				

                  
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
 							<div class="card-header">
								<div class="card-title">
									<div class="title">Theming</div>
								</div>
							</div>
							<div class="card-body">
								<div class="col-sm-6 col-xs-12">
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="card primary">
												<div class="card-jumbotron no-padding">
													
														<div id="containerA" style="width: 150px; height: 125px; display:inline;"></div>
														<div id="containerB" style="width: 150px; height: 125px; display:inline;"></div>
														<div id="containerC" style="width: 150px; height: 125px; display:inline;"></div>
													
												</div>
												<div class="card-body half-padding">
													<h4 class="float-left no-margin font-weight-300">Orders</h4>
													<div class="clear-both"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>
<h2 id="nolist" style="display:none">对不起，暂无数据！</h2>
