<div class="row">
	<div class="col-xs-12">
		<div class="card">

			<div class="card-body no-padding">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li ng-click="selectEList(f)" role="presentation"
							ng-class="{true:'active',false:''}[$index==chosedIndex]"  ng-repeat="f in facilityList"><a
							href="" role="tab" data-toggle="tab">{{f.detector_Facility_Name}}</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="col-sm-6">
							<div class="sub-title">
								设备列表<span class="description"></span>
							</div>
							<table id="infoList" class="datatable table table-striped" ">
								<thead>
									<tr>
										<th>设备编号</th>
										<th>设备区域</th>
										<th>设备类型</th>
										<th>设备名称</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-click="analysisEquipment(e.detector_Equipment_Id)"
										ng-repeat="e in list">
										<th scope="row">{{e.detector_Equipment_No}}</th>
										<td>{{e.detector_EquipmentRoom_name}}</td>
										<td>{{e.detector_EquipmentType_name}}</td>
										<td>{{e.detector_Equipment_Name}}</td>
										<!-- <td>{{e.equipment_Name}}</td>
										<td>{{e.equipment_State}}</td>
										<td>{{e.equipment_Type}}</td>
										<td>{{e.equipment_Room}}</td> -->
									</tr>
								</tbody>
							</table>
							<div class="tcdPageCode">页码容器</div>
						</div>
						<div></div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>